.tweet-container{
    display: flex;
    flex-direction: column;
    border: 1px solid #1C1C1C;
    border-radius: 20px;
    overflow: hidden;
    margin-top: 20px;
}

.tweet-user-info{
    margin-left: 20px;
    margin-top: 10px;
    display: flex;
    align-items: center;
}

.tweet-user-profile{
    width: 30px;
    height: 30px;
    background-color: white;
    border: 1px solid #979797;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
}

.tweet-user-name-container{
    color: white;
    margin-left: 8px;
}

.tweet-user-fuulname{
    font-size: 10px;
}
.tweet-user-username{
    font-size: 8px;
}


.tweet-images-container{
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    height: 200px;
    border: 1px solid #1C1C1C;
    border-radius: 20px;
    display: flex;
    overflow: hidden;
    flex-wrap: wrap;
}

.tweet-image{
    flex-basis: 50%;
    background-size: 100% 100%;
    background-position: center;
    flex-grow: 1;
}

.tweet-video-container{
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    height: 200px;
    border: 1px solid #1C1C1C;
    border-radius: 20px;
    overflow: hidden;
}

.tweet-video-container video{
    height: 100%;
    width: 100%;
}

.tweet-text-container{
    margin-left: 20px;
    margin-left: 20px;
    margin-top: 20px;
    font-size: 15px;
    color: rgba(255, 255, 255, .74);
}

.tweet-date-container{
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 10px;
    color: #47525d;
}

.tweets-welcome-message{
    color: white;
    text-align: center;
}

.tweets-welcome-message h5{
    margin-bottom: 0;
}

.tweets-welcome-message p{
    font-size: 10px;
}
